fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-jose
sendgrid
pydantic
psycopg2-binary
requests
pandas
numpy
fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-jose
sendgrid
google-auth
requests
email-validator
joblib
scikit-learn
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart
